/* ===== RESET BÁSICO ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
}

/* Dá um espaço extra quando rolar até aa seções */
#about,
#projects,
#contact {
    scroll-margin-top: 80px;
}

/* ===== CONTAINER ===== */
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

/* ===== NAVBAR ===== */
.navBar {
    margin-top: 10px;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 100px;
    background-color: #F0B90B;
    position: fixed;
    z-index: 10;
}

.navBar a {
    font-weight: 600;
    color: #383838;
    text-decoration: none;
    margin: 0 1rem;
}

nav a:hover {
    display: inline-block;
    transition: transform 0, 3s ease;
}

nav a:hover {
    transform: scale(1.2);
}

/* ===== HOME ===== */

.home{
    width: 100%;
    height: auto;
}

.home p {
    margin-top: 100px;
    font-size: 10rem;
    line-height: 180px;
    font-weight: 900;
    text-align: center;
}

/* ===== SOBRE MIM ===== */


.imgText {
    display: flex;
    justify-content: space-evenly
}

.abouteMe img {
    max-width: clamp(150px, 25vw, 500px);
    width: 100%;
    height: auto;
    object-fit: contain;
}

.abouteMe {
    width: 100%;
    text-align: center;
    background-color: #fff;
}

.abouteMe h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.abouteMe p {
    width: 70%;
    font-size: clamp(0.3rem, 0.8vw + 0.8rem, 2.2rem);
    line-height: clamp(1.4rem, 1.8vw + 1rem, 2.8rem);
    font-weight: 600;
    text-align: left;
}

/* ===== PROJETOS ===== */
.myProjects {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    background-color: #fff;
}

.myProjects h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.myProjects h3,
p {
    text-align: center;
}

.myProjects a {
    text-decoration: none;
    color: #000;
}

.projects-grid {
    display: flex;
    justify-content: center;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.project-card {
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0px 4px 10px #0000001a;
    transition: transform 0.3s ease;
}

.project-card:hover {
    background-color: #F0B90B;
    color: #1d1d1d;
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px #0000009c;
}

.project-card:hover a {
    color: #1d1d1d;
}

/* ===== CONTATO ===== */
.contactMe {
    width: 90%;
    padding: 4rem 2rem;
    text-align: center;
    background-color: #fff;
}

.contactMe h2 {
    font-size: 2.5rem;
}

.contactMe form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contactMe input,
.contactMe textarea,
.contactMe button {
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.contactMe button {
    width: auto;
    height: 55px;
    background: #795e05;
    color: #535353;
    cursor: pointer;
}

.contactMe button:hover {
    background: #F0B90B;
    font-weight: 900;
    color: #1d1d1d;
}

/* ===== FOOTER ===== */
footer {
    width: 98%;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    background-color: #222;
    color: #fff;
    font-size: 0.9rem;
}